#nav-bar{
    position: fixed;
    height: 10vh;
    width: 100vw;
    margin-top:-2%;
    background-color: rgba(1, 54, 54, 0.589);
    ul{
        list-style: none;
        li{ 
            display: inline;
            margin-left: 20px;
            margin-right:20px;
            #a1{  
                font-size: 25px;
                position:fixed;
                
                right:10px;
                top:25px;
                text-decoration: none;
                color:rgb(204, 56, 56);
                
            }
            #a2{  
                font-size: 25px;
                position:fixed;
                right:120px;
                top:25px;
                
                text-decoration: none;
                color:rgb(204, 56, 56);
                
            }
         }
           
            
        }
    }
